<div class="container">
    <div class="signUpCard">
        <form #signupForm="ngForm">
            <h2 class="heading">Sign Up</h2>

            <label class="label">Email</label><br>
            <div class="input1">
                <button><i class="fa fa-envelope icon font"></i></button>
                <input type="email" name="email" placeholder="example@email.com" [(ngModel)]="email" class="formInput" maxlength="60" required />
            </div>


            <label class="label">Password</label><br>
            <div class="input1">
                <button><i
            class="fa font"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"
          ></i></button>
                <input [type]="fieldTextType ? 'text' : 'password'" name="password" placeholder="Choose a password" [(ngModel)]="password" class="formInput" required />
            </div>


            <label class="label">Display Name</label><br>
            <div class="input1">
                <button><i class="fa fa-user icon font"></i></button>
                <input type="text" name="displayName" placeholder="Enter a display name" class="formInput" minlength="6" [(ngModel)]="displayName" required />
            </div>
            <br>
            <br>
            <br>
            <button [style.backgroundColor]=" signupForm.form.valid ? 'rgb(94, 121, 243)':'lightgrey'" type="submit" (click)="signUp(signupForm.value)" class="btn" id="btn-signUp ">
            Sign Up
            </button>
        </form>
    </div>
</div>