<div class="container">
    <div class="contents">
        <div class="header">
            <p>Sample text-1</p>
            <button class="collapsible">icon</button>
        </div>
        <div class="items">
            <div class="inner-container">
                <div class="pay">
                    <label>You Pay</label>
                    <br>
                    <input type="number" min="3000" value="25000">
                </div>
                <div  class="currency"> 
                    <button>INR</button>
                </div>
            </div>
            <div class="list">
                <p>list items</p>
            </div>
            <div class="converter">
                <p>we receive</p>
            </div>
            <div class="comparator"> 
                <p>two buttons</p>
            </div>
        </div>
        <div class="footer">
            <button> Buy Now</button>
        </div>
    </div>
</div>