<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="isLoggedOut; else elseBlock" class="nouser h-100 row align-items-center">
                            <div class="col">
                              <p><b>404 error</b></p>
                              <p>User doesn't exist</p>
                            </div>
                    </div>
                    <ng-template #elseBlock>
                    <div class="px-4 pt-0 pb-4 bg-dark">
                        <div class="media align-items-end profile-header">
                            <div class="profile mr-3">
                                <img src="assets/userimg.jpg" alt="user-image" width="130" class="rounded mb-2 img-thumbnail" />
                            </div>
                            <div class="media-body mb-5 text-white profile-header-1">
                                <h4 class="mt-0 mb-0">{{ details.DisplayName }}</h4>
                                <p class="small mb-4">
                                    <i class="fa fa-map-marker mr-2"></i>countryname
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="bg-light p-4 d-flex justify-content-around text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h3 class="font-weight-bold mb-0 d-block">eur</h3>
                                <small class="text-muted"> CurrencyCode</small>
                            </li>
                            <li class="list-inline-item">
                                <h3 class="font-weight-bold mb-0 d-block">febtest</h3>
                                <small class="text-muted"> AC Type</small>
                            </li>
                        </ul>
                    </div>

                    <div class="py-4 px-4">
                        <div class="py-4">
                            <h5 class="mb-3">User Profile</h5>
                            <div class="p-4 bg-light rounded shadow-sm">
                                <p class="mb-0">EmailID : {{details.EmailID}}</p>
                                <p class="mb-0">Address : {{details.Address}}</p>
                                <p class="mb-0">BirthDate : {{details.BirthDate}}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>