<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card overflow-auto">
                <div class="card-body">
                    <div *ngIf="NoAddressFound; else elseBlock" class="h-100 row align-items-center">
                        <div class="col text-center d-flex align-items-center flex-column nouser">
                            <p>You didn't fill the address</p>
                            <div class="text-center pb-5 d-flex justify-content-center">
                                <button type="submit" (click)="fillAddress()" class="btn btn-primary mx-3" >Upload Address</button>
                                <button type="submit" (click)="callBack()" class="btn btn-dark" >Skip</button>
                            </div>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <form #signupForm="ngForm" [formGroup]="addressForm" class="d-flex flex-column mx-auto card-text align-items-center">
                            <h3 class="text-center py-5">Address Form</h3>
                            <div class="form-group">
                                <label for="Addressline1">Address Line1</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="faMapMarker"></fa-icon>
                                        </span>
                                    </div>
                                    <input type="text" id="AddressLine1" class="form-control" placeholder="Enter your address here" formControlName="AddressLine1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AddressLine2">Address Line2</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="faMapMarker"></fa-icon>
                                        </span>
                                    </div>
                                    <input type="text" id="AddressLine2" class="form-control" placeholder="Enter your address here" formControlName="AddressLine2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="City">City</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                        <fa-icon [icon]="faCity"></fa-icon>
                                    </span>
                                    </div>
                                    <input type="text" id="City" class="form-control" placeholder="Enter your City here" formControlName="City" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Country">Country</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="faGlobe"></fa-icon>
                                        </span>
                                    </div>
                                    <input type="text" id="Country" class="form-control" placeholder="Enter your Country here" formControlName="Country" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Region">Region</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="faChatArea"></fa-icon>
                                        </span>
                                    </div>
                                    <input type="text" id="Region" class="form-control" placeholder="Enter your Region here" formControlName="Region" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Street">Street</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="faRoad"></fa-icon>
                                        </span>
                                    </div>
                                    <input type="text" id="Street" class="form-control" placeholder="Enter your Street here" formControlName="Street" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Zip">Zip</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="faMapPin"></fa-icon>
                                        </span>
                                    </div>
                                    <input type="text" id="Zip" class="form-control" placeholder="Enter your Zip here" formControlName="Zip" />
                                </div>
                            </div>
                            <div class="text-center pb-5">
                                <button type="submit" (click)="upload(addressForm.value)" class="btn btn-primary" [disabled]="!addressForm.valid" [style.backgroundColor]="addressForm.valid ? 'rgb(94,121,243)' : 'lightgrey'" name="Zip">Upload</button>
                            </div>
                        </form>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>